@import "../../styles/variables";

.header {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from($color-linear-start), to($color-linear-end));
  background: -o-linear-gradient(left, $color-linear-start, $color-linear-end);
  background: linear-gradient(90deg, $color-linear-start, $color-linear-end);
  color: white;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  line-height: 11px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;

    .left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 36px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      @include tablet {
        display: none;
      }
    }

    .right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 28px;

      @include tablet {
        margin-left: auto;
      }
    }
  }
}